<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CYCLIC" class="ch.qos.logback.core.read.CyclicBufferAppender">
		<MaxSize>512</MaxSize>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CYCLIC" />
	</root>
</configuration>