body {
            padding-top: 60px;
            padding-bottom: 20px;
        }

.sortorder:after {
	    content: '\25b2';
	  }
.sortorder.reverse:after {
	    content: '\25bc';
	  }
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 500px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}