      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#">Configuration</a></li>
        <li role="presentation"><a href="#/veradevices">Vera Devices</a></li>
        <li role="presentation"><a href="#/verascenes">Vera Scenes</a></li>
        <li role="presentation"><a href="#/editor">Manual Add</a></li>
      </ul>

	<div class="panel panel-default bridgeServer">
		<div class="panel-heading">
			<h1 class="panel-title">Bridge settings</h1>
		</div>
		<div class="panel-body">

			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 control-label" for="bridge-base">Bridge
						server</label>

					<div class="col-xs-8 col-sm-7">
						<input id="bridge-base" class="form-control" type="text"
							ng-model="bridge.base" placeholder="URL to bridge">
					</div>
					<button type="submit" class="col-xs-2 col-sm-1 btn btn-primary"
						ng-click="setBridgeUrl(bridge.base)">Load</button>
					<button type="submit" class="col-xs-2 col-sm-1 btn btn-primary"
						ng-click="testUrl(bridge.base)">Go</button>
				</div>
			</form>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>Setting</th>
						<th>Value</th>
					</tr>
				</thead>
				<tr>
					<td>upnp.config.address</td>
					<td>{{BridgeSettings.upnpconfigaddress}}</td>
				</tr>
				<tr>
					<td>server.port</td>
					<td>{{BridgeSettings.serverport}}</td>
				</tr>
				<tr>
					<td>upnp.devices.db</td>
					<td>{{BridgeSettings.upnpdevicedb}}</td>
				</tr>
				<tr>
					<td>upnp.response.port</td>
					<td>{{BridgeSettings.upnpresponseport}}</td>
				</tr>
				<tr>
					<td>vera.address</td>
					<td>{{BridgeSettings.veraaddress}}</td>
				</tr>
				<tr>
					<td>upnp.strict</td>
					<td>{{BridgeSettings.upnpstrict}}</td>
				</tr>
				<tr>
					<td>trace.upnp</td>
					<td>{{BridgeSettings.traceupnp}}</td>
				</tr>
				<tr>
					<td>vtwo.compatibility</td>
					<td>{{BridgeSettings.vtwocompatibility}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div ng-controller="ErrorsController">
		<div ng-if="bridge.error"
			class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>

			<h2 ng-show='bridge.error != ""'>ERROR</h2>

			<div ng-show='bridge.error != ""'>{{bridge.error}}</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Current devices</h2>
		</div>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>
						<a href="" ng-click="order('id')">ID</a>
        				<span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span></th>
					<th>
						<a href="" ng-click="order('name')">Name</a>
        				<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
					<th>
						<a href="" ng-click="order('deviceType')">Type</a>
        				<span class="sortorder" ng-show="predicate === 'deviceType'" ng-class="{reverse:reverse}"></span></th>
					<th>Actions</th>
				</tr>
			</thead>
			<tr ng-repeat="device in bridge.devices | orderBy:predicate:reverse">
				<td>{{device.id}}</td>
				<td>{{device.name}}</td>
				<td>{{device.deviceType}}</td>
				<td>
					<button class="btn btn-info" type="submit"
						ng-click="testUrl(device.onUrl)">Test ON</button>
					<button class="btn btn-info" type="submit"
						ng-click="testUrl(device.offUrl)">Test OFF</button>
					<button class="btn btn-warning" type="submit"
						ng-click="editDevice(device)">Edit</button>
					<button class="btn btn-danger" type="submit"
						ng-click="deleteDevice(device)">Delete</button>
				</td>
			</tr>
		</table>
	</div>