      <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="#">Configuration</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/veradevices">Vera Devices</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/verascenes">Vera Scenes</a></li>
        <li ng-if="bridge.showHarmony" role="presentation"><a href="#/harmonyactivities">Harmony Activities</a></li>
        <li ng-if="bridge.showHarmony" role="presentation"><a href="#/harmonydevices">Harmony Devices</a></li>
        <li ng-if="bridge.showNest" role="presentation"><a href="#/nest">Nest</a></li>
        <li role="presentation" class="active"><a href="#/editor">Manual Add</a></li>
      </ul>

<div class="panel panel-default bridgeServer" ng-if="bridge.showVera">
	<div class="panel-heading">
		<h2 class="panel-title">Generate a new device/scene/control point</h2>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<p class="text-muted">You can generate on/off URLs by filling in
				the Vera server URL, port, and device ID; or you can fill them out
				manually in the lower section.</p>

			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 control-label" for="vera-base">Vera
						Server URL </label>

					<div class="col-xs-8 col-sm-7">
						<input type="text" class="form-control" id="vera-base"
							ng-model="vera.base"
							placeholder="Vera URL (e.g. http://192.168.1.100)">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 col-sm-2 control-label" for="vera-port">Vera
						Request Port </label>

					<div class="col-xs-10 col-sm-2">
						<input type="text" class="form-control" id="vera-port"
							ng-model="vera.port" placeholder="Vera Port (typically 3480)">
					</div>

					<label class="col-xs-2 col-sm-2 control-label" for="vera-id">Device
						ID </label>

					<div class="col-xs-10 col-sm-2">
						<input type="text" class="form-control" id="vera-id"
							ng-model="vera.id" placeholder="ID">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 col-sm-2 control-label" for="device-dim-control">Device Dim Control</label>

					<div class="col-xs-10 col-sm-2">
					    <select name="device-dim-control" id="device-dim-control" ng-model="device_dim_control">
					      <option value="">none</option>
					      <option value="${intensity..byte}">Pass-thru Value</option>
					      <option value="${intensity.percent}">Percentage</option>
					      <option value="${intensity.math(X*1)}">Custom Math</option>
					    </select>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" ng-click="buildUrlsUsingDevice(device_dim_control)"
						class="col-xs-2 col-sm-2 col-xs-offset-2 col-sm-offset-2 btn btn-success">Generate Device
						URLs</button>
					<button type="submit" ng-click="buildUrlsUsingScene()"
						class="col-xs-2 col-sm-2 col-xs-offset-2 col-sm-offset-2 btn btn-success">Generate Scene
						URLs</button>
				</div>
			</form>
		</li>
	</ul>
</div>
<div class="panel panel-default bridgeServer" ng-if="!bridge.error">
	<div class="panel-heading">
		<h2 class="panel-title">Add a new device</h2>
	</div>
	<p class="text-muted">This area allows you to create any http or udp call to an endpoint. You can use the default GET or select
	the http verb type below and configure a payload for either on or off methods. Currently, https is not supported.</p>
	<ul class="list-group">
		<li class="list-group-item">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label" for="device-name">Name
					</label>

					<div class="col-xs-8 col-sm-7">
						<input type="text" class="form-control" id="device-name"
							ng-model="device.name" placeholder="Device Name">
					</div>
					<button type="submit" class="col-xs-4 col-sm-2 btn btn-primary" ng-click="addDevice()">
						Add Bridge Device</button>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label" for="device-on-url">On
						URL </label>

					<div class="col-xs-8 col-sm-7">
						<textarea rows="3" class="form-control" id="device-on-url"
							ng-model="device.onUrl" placeholder="URL to turn device on"></textarea>
					</div>
					<button class="btn btn-danger" ng-click="clearDevice()">
						Clear Device</button>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label"
						for="device-off-url">Off URL </label>

					<div class="col-xs-8 col-sm-7">
						<textarea rows="3" class="form-control" id="device-off-url"
							ng-model="device.offUrl" placeholder="URL to turn device off"></textarea>
					</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label" for="device-http-verb">Http Verb
					</label>

					<div class="col-xs-8 col-sm-7">
					    <select name="device-http-verb" id="device-http-verb" ng-model="device.httpVerb">
					      <option value="">---Please select---</option> <!-- not selected / blank option -->
					      <option value="GET">GET</option>
					      <option value="PUT">PUT</option>
					      <option value="POST">POST</option>
					    </select>
   					</div>
					</div>
				</div>
				<div ng-if="device.httpVerb" class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label"  for="device-content-type">Content Type
					</label>

					<div class="col-xs-8 col-sm-7">
					    <select name="device-content-type" id="device-content-type" ng-model="device.contentType">
					      <option value="">---Please select---</option> <!-- not selected / blank option -->
					      <option value="application/atom+xml">application/atom+xml</option>
					      <option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
					      <option value="application/json">application/json</option>
					      <option value="application/octet-stream">application/octet-stream</option>
					      <option value="application/svg+xml">application/svg+xml</option>
					      <option value="application/xhtml+xml">application/xhtml+xml</option>
					      <option value="application/xml">application/xml</option>
					      <option value="*">*</option>
					      <option value="multipart/form-data">multipart/form-data</option>
					      <option value="text/html">text/html</option>
					      <option value="text/plain">text/plain</option>
					      <option value="text/xml">text/xml</option>
					      <option value="*/*">*/*</option>
					    </select>
					</div>
					</div>
				</div>
				<div ng-if="device.httpVerb" class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label"
						for="device-content-body">Content Body On</label>

					<div class="col-xs-8 col-sm-7">
						<textarea rows="3" class="form-control" id="device-content-body"
							ng-model="device.contentBody" placeholder="Content Body On for specific GET/PUT/POST type"></textarea>
					</div>
			        <div class="clearfix visible-xs"></div>
					</div>
				</div>
				<div ng-if="device.httpVerb" class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label"
						for="device-content-body-off">Content Body Off</label>

					<div class="col-xs-8 col-sm-7">
						<textarea rows="3" class="form-control" id="device-content-body-off"
							ng-model="device.contentBodyOff" placeholder="Content Body Off for specific GET/PUT/POST type"></textarea>
					</div>
			        <div class="clearfix visible-xs"></div>
					</div>
				</div>
			</form>
		</li>
	</ul>
</div>
