<ul class="nav nav-pills" role="tablist">
	<li role="presentation"><a href="#!/">Bridge Devices</a></li>
	<li role="presentation"><a href="#!/system">Bridge Control</a></li>
	<li role="presentation"><a href="#!/logs">Logs</a></li>
	<li ng-if="bridge.showVera" role="presentation"><a
		href="#!/veradevices">Vera Devices</a></li>
	<li ng-if="bridge.showVera" role="presentation"><a
		href="#!/verascenes">Vera Scenes</a></li>
	<li ng-if="bridge.showHarmony" role="presentation"><a
		href="#!/harmonyactivities">Harmony Activities</a></li>
	<li ng-if="bridge.showHarmony" role="presentation"><a
		href="#!/harmonydevices">Harmony Devices</a></li>
	<li ng-if="bridge.showHue" role="presentation"><a
		href="#!/huedevices">Hue Devices</a></li>
	<li role="presentation" class="active"><a href="#!/haldevices">HAL
			Devices</a></li>
	<li ng-if="bridge.showMqtt" role="presentation"><a href="#!/mqttmessages">MQTT Messages</a></li>
	<li ng-if="bridge.showHass" role="presentation"><a href="#!/hassdevices">HomeAssistant Devices</a></li>
	<li ng-if="bridge.showDomoticz" role="presentation"><a href="#!/domoticzdevices">Domoticz Devices</a></li>
	<li ng-if="bridge.showSomfy" role="presentation"><a href="#!/somfydevices">Somfy Devices</a></li>
	<li ng-if="bridge.showLifx" role="presentation"><a href="#!/lifxdevices">LIFX Devices</a></li>
	<li role="presentation"><a href="#!/editdevice">Add/Edit</a></li>
</ul>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">HAL Device List
			({{bridge.haldevices.length}})</h2>
	</div>
	<div class="panel-body">
		<p class="text-muted">For any HAL Device, use the build action buttons
			to generate the item addition information into the ha-bridge device and this will put you into the edit screen. Then
			you can modify the name to anything you want that will be the keyword
			for the Echo or Google Home. Also, you can go back to any helper tab and click a build 
			action button to add another item for a multi-command. After you are
			 done in the edit tab, click the 'Add Bridge Device' to finish that selection
			setup. The 'Already Configured HAL Devices' list below will show what
			is already setup for your HAL.</p>
		<p class="text-muted">
			Also, use this select menu for which type of dim control you would
			like to be generated: <select name="device-dim-control"
				id="device-dim-control" ng-model="device_dim_control">
				<option value="">none</option>
				<option value="${intensity.byte}">Pass-thru Value</option>
				<option value="${intensity.percent}">Percentage</option>
				<option value="${intensity.decimal_percent}">Decimal Percentage</option>
				<option value="${intensity.math(X*1)}">Custom Math</option>
			</select>
		</p>
		<p class="text-muted">Use the check boxes by the names to use the bulk addition
			feature. Select your items and dim control type if wanted, then click
			bulk add below. Your items will be added with on and off or dim and
			off if selected with the name of the device from the HAL.</p>
	<scrollable-table watch="bridge.haldevices">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Row</th>
				<th sortable-header col="name">
					<span><input type="checkbox" name="selectAll"
					value="{{selectAll}}"
					ng-checked="selectAll"
					ng-click="toggleSelectAll()"> Name</span></th>
				<th sortable-header col="category">Category</th>
				<th sortable-header col="halname">HAL</th>
				<th>On Button</th>
				<th>Off Button</th>
				<th>Build Actions</th>
			</tr>
		</thead>
		<tr ng-repeat="haldevice in bridge.haldevices">
			<td>{{$index+1}}</td>
			<td><input type="checkbox" name="bulk.devices[]"
				value="{{haldevice.haldevicename}}"
				ng-checked="bulk.devices.indexOf(haldevice.haldevicename) > -1"
				ng-click="toggleSelection(haldevice.haldevicename)">
				{{haldevice.haldevicename}}</td>
			<td>{{haldevice.haldevicetype}}</td>
			<td>{{haldevice.haladdress.name}}</td>
			<td>
				<select name="button-on" id="button-on"	ng-model="button_on">
						<option ng-repeat="aButtonOn in haldevice.buttons.DeviceElements"
							value="{{aButtonOn}}">{{aButtonOn.DeviceName}}</option>
				</select>
			</td>
			<td>
				<select name="button-off" id="button-off" ng-model="button_off">
						<option ng-repeat="aButtonOff in haldevice.buttons.DeviceElements"
							value="{{aButtonOff}}">{{aButtonOff.DeviceName}}</option>
				</select>
			</td>
			<td>
				<button ng-if="haldevice.haldevicetype != 'Home' && haldevice.haldevicetype != 'HVAC' && haldevice.haldevicetype != 'IrData'" class="btn btn-success" type="submit"
					ng-click="buildDeviceUrls(haldevice, device_dim_control, false)">Build Item</button>
				<button ng-if="haldevice.haldevicetype == 'Home'" class="btn btn-success" type="submit"
					ng-click="buildHALHomeUrls(haldevice, false)">Build Home/Away</button>
				<button ng-if="haldevice.haldevicetype == 'IrData'" class="btn btn-success" type="submit"
					ng-click="buildButtonUrls(haldevice, button_on, button_off, false)">Build
					A Button</button>
				<ul ng-if="haldevice.haldevicetype == 'HVAC'" class="list-group">
					<li class="list-group-item">
						<p>
							<button class="btn btn-success" type="submit"
								ng-click="buildHALHeatUrls(haldevice, false)">Heat</button>
							<button class="btn btn-success" type="submit"
								ng-click="buildHALCoolUrls(haldevice, false)">Cool</button>
							<button class="btn btn-success" type="submit"
								ng-click="buildHALAutoUrls(haldevice, false)">Auto</button>
						</p>
						<p>
							<button class="btn btn-success" type="submit"
								ng-click="buildHALOffUrls(haldevice, false)">Off</button>
							<button class="btn btn-success" type="submit"
								ng-click="buildHALFanUrls(haldevice, false)">Fan</button>
						</p>
					</li>
				</ul>
			</td>
		</tr>
	</table>
	</scrollable-table>
	<div class="panel-footer">
		<button class="btn btn-success" type="submit"
			ng-click="bulkAddDevices(device_dim_control)">Bulk Add
			({{bulk.devices.length}})</button>
	</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">
			Already Configured HAL Devices <a ng-click="toggleButtons()"><span
				class={{imgButtonsUrl}} aria-hidden="true"></span></a></a>
		</h2>
	</div>
	<div ng-if="buttonsVisible" class="panel-body">
	
	<scrollable-table watch="bridge.haldevices">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Row</th>
				<th sortable-header col="name">Name</th>
				<th sortable-header col="category">Category</th>
				<th sortable-header col="halname">HAL</th>
				<th>Map Id</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tr
			ng-repeat="device in bridge.devices | configuredHalItems">
			<td>{{$index+1}}</td>
			<td>{{device.name}}</td>
			<td>{{device.deviceType}}</td>
			<td>{{device.targetDevice}}</td>
			<td>{{device.mapId}}</td>
			<td>
				<p>
					<button class="btn btn-warning" type="submit"
						ng-click="editDevice(device)">Edit</button>
					<button class="btn btn-danger" type="submit"
						ng-click="deleteDevice(device)">Delete</button>
				</p>
			</td>
		</tr>
	</table>
	</scrollable-table>
	</div>
</div>
<script type="text/ng-template" id="deleteMapandIdDialog">
		<div class="ngdialog-message">
			<h2>Device Map and Id?</h2>
				<p>{{mapandid.mapType}} with  {{mapandid.id}}</p>
				<p>Are you Sure?</p>
		</div>
		<div class="ngdialog-buttons mt">
			<button type="button" class="ngdialog-button ngdialog-button-error" ng-click="deleteMapandId(mapandid)">Delete</button>
		</div>
	</script>
