      <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="#">Configuration</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/veradevices">Vera Devices</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/verascenes">Vera Scenes</a></li>
        <li role="presentation" class="active"><a href="#/harmonyactivities">Harmony Activities</a></li>
        <li role="presentation"><a href="#/harmonydevices">Harmony Devices</a></li>
        <li role="presentation"><a href="#/editor">Manual Add</a></li>
      </ul>

<div class="panel panel-default bridgeServer" ng-if="!bridge.error">
	<div class="panel-heading">
		<h2 class="panel-title">Harmony Activity List</h2>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<p class="text-muted">You can select a Harmony Activity and generate
				the add activity box selections automatically.</p>

			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>
							<a href="" ng-click="order('label')">Name</a>
        					<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>
							<a href="" ng-click="order('id')">Id</a>
        					<span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tr ng-repeat="harmonyactivity in bridge.harmonyactivities | availableId | orderBy:predicate:reverse">
					<td>{{harmonyactivity.label}}</td>
					<td>{{harmonyactivity.id}}</td>
					<td>
						<button class="btn btn-success" type="submit"
							ng-click="buildActivityUrls(harmonyactivity)">Generate
							Activity URLs</button>
					</td>
				</tr>
			</table>
		</li>
	</ul>
	<div class="panel-heading">
		<h2 class="panel-title">Already Configured Activities <a ng-click="toggleActivities()"><span class={{imgActivitiesUrl}} aria-hidden="true"></a></h2>
	</div>
	<ul ng-if="activitiesVisible" class="list-group">
		<li class="list-group-item">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>
							<a href="" ng-click="order('label')">Name</a>
        					<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>
							<a href="" ng-click="order('id')">Id</a>
        					<span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tr ng-repeat="harmonyactivity in bridge.harmonyactivities | unavailableId | orderBy:predicate:reverse">
					<td>{{harmonyactivity.label}}</td>
					<td>{{harmonyactivity.id}}</td>
					<td><button class="btn btn-danger" type="submit"
						ng-click="deleteDeviceByMapId(harmonyactivity.id)">Delete</button></td>
				</tr>
			</table>
		</li>
	</ul>
</div>
<div class="panel panel-default bridgeServer" ng-if="!bridge.error">
	<div class="panel-heading">
		<h2 class="panel-title">Add a Harmony Activity</h2>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<form class="form-horizontal" ng-submit="addDevice()">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 control-label" for="device-name">Name
					</label>

					<div class="col-xs-8 col-sm-7">
						<input type="text" class="form-control" id="device-name"
							ng-model="device.name" placeholder="Device Name">
					</div>
					<button type="submit" class="col-xs-4 col-sm-2 btn btn-primary">
						Add Activity</button>
				</div>
				<div class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label" for="device-on-url">On
						URL </label>

					<div class="col-xs-8 col-sm-7">
						<textarea rows="3" class="form-control" id="device-on-url"
							ng-model="device.onUrl" placeholder="URL to turn device on"></textarea>
					</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label"
						for="device-off-url">Off URL </label>

					<div class="col-xs-8 col-sm-7">
						<textarea rows="3" class="form-control" id="device-off-url"
							ng-model="device.offUrl" placeholder="URL to turn device off"></textarea>
					</div>
					</div>
				</div>
			</form>
		</li>
	</ul>
</div>
