      <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="#">Bridge Devices</a></li>
        <li role="presentation"><a href="#/system">Bridge Control</a></li>
        <li role="presentation" class="active"><a href="#/logs">Logs</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/veradevices">Vera Devices</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/verascenes">Vera Scenes</a></li>
        <li ng-if="bridge.showHarmony" role="presentation"><a href="#/harmonyactivities">Harmony Activities</a></li>
        <li ng-if="bridge.showHarmony" role="presentation"><a href="#/harmonydevices">Harmony Devices</a></li>
        <li ng-if="bridge.showNest" role="presentation"><a href="#/nest">Nest</a></li>
        <li role="presentation"><a href="#/editor">Manual Add</a></li>
      </ul>

	<div class="panel panel-default bridgeServer">
		<div class="panel-heading">
			<h1 class="panel-title">Log Messages</h1>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-fixed">
				<thead>
					<tr>
						<th class="col-md-1">Row</th>
						<th class="col-md-1">
							<a href="" ng-click="order('time')">Time</a>
	        				<span class="sortorder" ng-show="predicate === 'time'" ng-class="{reverse:reverse}"></span></th>
						<th class="col-md-1">
							<a href="" ng-click="order('level')">Level</a>
	        				<span class="sortorder" ng-show="predicate === 'level'" ng-class="{reverse:reverse}"></span></th>
						<th class="col-md-6">
							<a href="" ng-click="order('message')">Message</a>
	        				<span class="sortorder" ng-show="predicate === 'message'" ng-class="{reverse:reverse}"></span></th>
						<th class="col-md-3">
							<a href="" ng-click="order('component')">Component</a>
	        				<span class="sortorder" ng-show="predicate === 'component'" ng-class="{reverse:reverse}"></span></th>
					</tr>
				</thead>
				<tr ng-repeat="logMessage in bridge.logMsgs | orderBy:predicate:reverse">
					<td class="col-md-1">{{$index+1}}</td>
					<td class="col-md-1">{{logMessage.time}}</td>
					<td class="col-md-1">{{logMessage.level}}</td>
					<td class="col-md-6">{{logMessage.message}}</td>
					<td class="col-md-3">{{logMessage.component}}</td>
				</tr>
			</table>
		</div>
	</div>
	