      <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="#">Bridge Devices</a></li>
        <li role="presentation"><a href="#/system">Bridge Control</a></li>
        <li role="presentation" class="active"><a href="#/logs">Logs</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/veradevices">Vera Devices</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/verascenes">Vera Scenes</a></li>
        <li ng-if="bridge.showHarmony" role="presentation"><a href="#/harmonyactivities">Harmony Activities</a></li>
        <li ng-if="bridge.showHarmony" role="presentation"><a href="#/harmonydevices">Harmony Devices</a></li>
        <li ng-if="bridge.showNest" role="presentation"><a href="#/nest">Nest</a></li>
        <li role="presentation"><a href="#/editor">Manual Add</a></li>
      </ul>

	<div class="panel panel-default bridgeServer">
		<div class="panel-heading">
			<h1 class="panel-title">Log Messages</h1>
		</div>
		<div class="panel-body">
			<p>
				<button class="btn btn-primary" type="submit"
					ng-click="updateLogs()">Update Log</button>
			</p>
        	<scrollable-table watch="bridge.logMsgs">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th sortable-header col="time">Time</th>
						<th sortable-header col="level">Level</th>
						<th sortable-header col="message">Message</th>
						<th sortable-header col="component">Component</th>
					</tr>
				</thead>
				<tr ng-repeat="logMessage in bridge.logMsgs">
					<td>{{logMessage.time}}</td>
					<td>{{logMessage.level}}</td>
					<td>{{logMessage.message}}</td>
					<td>{{logMessage.component}}</td>
				</tr>
			</table>
        	</scrollable-table>
		</div>
	</div>
	