<ul class="nav nav-pills" role="tablist">
	<li role="presentation"><a href="#!/">Bridge Devices</a></li>
	<li role="presentation"><a href="#!/system">Bridge Control</a></li>
	<li role="presentation"><a href="#!/logs">Logs</a></li>
	<li ng-if="bridge.showVera" role="presentation"><a href="#!/veradevices">Vera Devices</a></li>
	<li ng-if="bridge.showVera" role="presentation"><a href="#!/verascenes">Vera Scenes</a></li>
	<li ng-if="bridge.showHarmony" role="presentation"><a href="#!/harmonyactivities">Harmony Activities</a></li>
	<li ng-if="bridge.showHarmony" role="presentation"><a href="#!/harmonydevices">Harmony Devices</a></li>
	<li ng-if="bridge.showNest" role="presentation"><a href="#!/nest">Nest</a></li>
	<li ng-if="bridge.showHue" role="presentation"><a href="#!/huedevices">Hue Devices</a></li>
	<li ng-if="bridge.showHal" role="presentation"><a href="#!/haldevices">HAL Devices</a></li>
	<li role="presentation" class="active"><a href="#!/mqttmessages">MQTT Messages</a></li>
	<li ng-if="bridge.showHass" role="presentation"><a href="#!/hassdevices">HomeAssistant Devices</a></li>
	<li ng-if="bridge.showDomoticz" role="presentation"><a href="#!/domoticzdevices">Domoticz Devices</a></li>
	<li ng-if="bridge.showSomfy" role="presentation"><a href="#!/somfydevices">Somfy Devices</a></li>
	<li ng-if="bridge.showLifx" role="presentation"><a href="#!/lifxdevices">LIFX Devices</a></li>
	<li role="presentation"><a href="#!/editdevice">Add/Edit</a></li>
</ul>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">MQTT Messages</h2>
	</div>
	<div class="panel-body">
		<p class="text-muted">For any MQTT Broker, use the
			build action buttons
			to generate the item addition information into the ha-bridge device and this will put you into the edit screen.
			You can add topic and content in the text areas provided
			then selecting the publish generation. Then you can modify the name
			to anything you want that will be the keyword for the Echo or Google Home. Also, you can go back to any helper tab and click a build 
			action button to add another item for a multi-command. After you are
			 done in the edit tab, click the
			'Add Bridge Device' to finish that selection setup. The 'Already
			Configured MQTT Publish messages' list below will show what is already
			setup for your MQTT Brokers.</p>

	<scrollable-table watch="bridge.mqttbrokers">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Row</th>
				<th sortable-header col="name">ClientID</th>
				<th sortable-header col="ip">IP</th>
				<th>Topic</th>
				<th>Content</th>
				<th>QoS</th>
				<th>Retain</th>
				<th>Build Actions</th>
			</tr>
		</thead>
		<tr ng-repeat="mqttbroker in bridge.mqttbrokers">
			<td>{{$index+1}}</td>
			<td>{{mqttbroker.clientId}}</td>
			<td>{{mqttbroker.ip}}</td>
			<td>
				<textarea rows="2" class="form-control" id="mqtt-topic"
							ng-model="mqtttopic" placeholder="The MQTT Topic"></textarea>
			</td>
			<td>
				<textarea rows="2" class="form-control" id="mqtt-content"
							ng-model="mqttcontent" placeholder="The MQTT Message Content"></textarea>
			</td>
			<td>
				<input type="number" rows="1" class="form-control" id="mqtt-qos"
					   ng-model="mqttqos" placeholder="1"/>
			</td>
			<td>
				<input type="checkbox" rows="1" class="form-control" id="mqtt-retain"
					   ng-model="mqttretain"/>
			</td>
			<td>
				<button class="btn btn-success" type="submit"
					ng-click="buildMQTTPublish(mqttbroker, mqtttopic, mqttcontent, mqttqos, mqttretain)">Build
					publish Message</button>
			</td>
		</tr>
	</table>
	</scrollable-table>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">
			Already Configured MQTT Messages <a ng-click="toggleButtons()"><span
				class={{imgButtonsUrl}} aria-hidden="true"></span></a>
		</h2>
	</div>
	<div ng-if="buttonsVisible" class="panel-body">
	<scrollable-table watch="bridge.mqttbrokers">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Row</th>
				<th sortable-header col="nameclientid">Name</th>
				<th sortable-header col="targetDevice">ClientID</th>
				<th>Map Id</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tr
			ng-repeat="device in bridge.devices | configuredMqttMsgs | orderBy:predicate:reverse">
			<td>{{$index+1}}</td>
			<td>{{device.name}}</td>
			<td>{{device.targetDevice}}</td>
			<td>{{device.mapId}}</td>
			<td>
				<p>
					<button class="btn btn-warning" type="submit"
						ng-click="editDevice(device)">Edit</button>
					<button class="btn btn-danger" type="submit"
						ng-click="deleteDevice(device)">Delete</button>
				</p>
			</td>
		</tr>
	</table>
	</scrollable-table>
	</div>
</div>
<script type="text/ng-template" id="deleteMapandIdDialog">
		<div class="ngdialog-message">
			<h2>Device Map and Id?</h2>
				<p>{{mapandid.mapType}} with  {{mapandid.id}}</p>
				<p>Are you Sure?</p>
		</div>
		<div class="ngdialog-buttons mt">
			<button type="button" class="ngdialog-button ngdialog-button-error" ng-click="deleteMapandId(mapandid)">Delete</button>
		</div>
	</script>