      <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="#">Configuration</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/veradevices">Vera Devices</a></li>
        <li ng-if="bridge.showVera" role="presentation"><a href="#/verascenes">Vera Scenes</a></li>
        <li ng-if="bridge.showHarmony"  role="presentation"><a href="#/harmonyactivities">Harmony Activities</a></li>
        <li ng-if="bridge.showHarmony"  role="presentation"><a href="#/harmonydevices">Harmony Devices</a></li>
        <li role="presentation" class="active"><a href="#/nest">Nest</a></li>
        <li role="presentation"><a href="#/editor">Manual Add</a></li>
      </ul>

<div class="panel panel-default bridgeServer" ng-if="!bridge.error">
	<div class="panel-heading">
		<h2 class="panel-title">Nest Items List</h2>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<p class="text-muted">For any Nest Item, use the action buttons to generate the device addition information below automatically. 
			Then you can modify the name to anything you want that will be the keyword for Alexa. Click Add device to finish that type selections.
			The Already configured items list below will show what is already setup for this Nest.</p>

			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>
							<a href="" ng-click="order('name')">Name</a>
        					<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>
							<a href="" ng-click="order('type')">Type</a>
        					<span class="sortorder" ng-show="predicate === 'type'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>
							<a href="" ng-click="order('location')">Location</a>
        					<span class="sortorder" ng-show="predicate === 'location'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tr ng-repeat="nestitem in bridge.nestitems | availableNestItemId | orderBy:predicate:reverse">
					<td>{{nestitem.name}}</td>
					<td>{{nestitem.type}}</td>
					<td>{{nestitem.location}}</td>
					<td>
						<ul class="list-group">
							<li ng-if="nestitem.type ==='Home' " class="list-group-item">
								<button class="btn btn-success" type="submit"
										ng-click="buildNestHomeUrls(nestitem)">Home/Away</button>
							</li>
							<li ng-if="nestitem.type ==='Thermostat' " class="list-group-item">
								<p>
								<button class="btn btn-success" type="submit"
										ng-click="buildNestTempUrls(nestitem)">Temp</button>
								<button class="btn btn-success" type="submit"
										ng-click="buildNestHeatUrls(nestitem)">Heat</button>
								<button class="btn btn-success" type="submit"
										ng-click="buildNestCoolUrls(nestitem)">Cool</button>
								</p>
								<p>
								<button class="btn btn-success" type="submit"
										ng-click="buildNestRangeUrls(nestitem)">Range</button>
								<button class="btn btn-success" type="submit"
										ng-click="buildNestOffUrls(nestitem)">Off</button>
								<button class="btn btn-success" type="submit"
										ng-click="buildNestFanUrls(nestitem)">Fan</button>
								</p>
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</li>
	</ul>
	<div class="panel-heading">
		<h2 class="panel-title">Already Configured Nest Items <a ng-click="toggleActivities()"><span class={{imgActivitiesUrl}} aria-hidden="true"></a></h2>
	</div>
	<ul ng-if="activitiesVisible" class="list-group">
		<li class="list-group-item">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>
							<a href="" ng-click="order('name')">Name</a>
        					<span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>
							<a href="" ng-click="order('id')">Id</a>
        					<span class="sortorder" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>
							<a href="" ng-click="order('mapId')">mapId</a>
        					<span class="sortorder" ng-show="predicate === 'mapId'" ng-class="{reverse:reverse}"></span>
        				</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tr ng-repeat="device in bridge.devices | unavailableNestItemId | orderBy:predicate:reverse">
					<td>{{device.name}}</td>
					<td>{{device.id}}</td>
					<td>{{device.mapId}}</td>
					<td><button class="btn btn-danger" type="submit"
						ng-click="deleteDeviceByMapId(device.mapId, 'nest')">Delete</button></td>
				</tr>
			</table>
		</li>
	</ul>
</div>
<div class="panel panel-default bridgeServer" ng-if="!bridge.error">
	<div class="panel-heading">
		<h2 class="panel-title">Add a Bridge Device for a Nest Item</h2>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<form class="form-horizontal" ng-submit="addDevice()">
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 control-label" for="device-name">Name
					</label>

					<div class="col-xs-8 col-sm-7">
						<input type="text" class="form-control" id="device-name"
							ng-model="device.name" placeholder="Device Name">
					</div>
					<button type="submit" class="col-xs-4 col-sm-2 btn btn-primary">
						Add Nest Item</button>
				</div>
				<div class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label" for="device-on-url">On
						URL </label>

					<div class="col-xs-8 col-sm-7">
						<textarea rows="3" class="form-control" id="device-on-url"
							ng-model="device.onUrl" placeholder="URL to turn device on"></textarea>
					</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
					<label class="col-xs-12 col-sm-2 control-label"
						for="device-off-url">Off URL </label>

					<div class="col-xs-8 col-sm-7">
						<textarea rows="3" class="form-control" id="device-off-url"
							ng-model="device.offUrl" placeholder="URL to turn device off"></textarea>
					</div>
					</div>
				</div>
			</form>
		</li>
	</ul>
</div>
