<ul class="nav nav-pills" role="tablist">
	<li role="presentation"><a href="#">Bridge Devices</a></li>
	<li role="presentation"><a href="#/system">Bridge Control</a></li>
	<li role="presentation"><a href="#/logs">Logs</a></li>
	<li role="presentation"><a href="#/veradevices">Vera Devices</a></li>
	<li role="presentation" class="active"><a href="#/verascenes">Vera
			Scenes</a></li>
	<li ng-if="bridge.showHarmony" role="presentation"><a
		href="#/harmonyactivities">Harmony Activities</a></li>
	<li ng-if="bridge.showHarmony" role="presentation"><a
		href="#/harmonydevices">Harmony Devices</a></li>
	<li ng-if="bridge.showNest" role="presentation"><a href="#/nest">Nest</a></li>
	<li ng-if="bridge.showHue" role="presentation"><a
		href="#/huedevices">Hue Devices</a></li>
	<li ng-if="bridge.showHal" role="presentation"><a
		href="#/haldevices">HAL Devices</a></li>
	<li role="presentation"><a href="#/editor">Manual Add</a></li>
</ul>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Vera Scene List</h2>
	</div>
	<div class="panel-body">
		<p class="text-muted">For any Vera Scene, use the action buttons
			to generate the device addition information below automatically. Then
			you can modify the name to anything you want that will be the keyword
			for Alexa. Click the 'Add Bridge Device' to finish that selection
			setup. The 'Already Configured Vera Scenes' list below will show what
			is already setup for your Vera.</p>
	</div>

	<scrollable-table watch="bridge.verascenes">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Row</th>
				<th sortable-header col="name">Name</th>
				<th sortable-header col="id">Id</th>
				<th sortable-header col="room">Room</th>
				<th sortable-header col="veraname">Vera</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tr ng-repeat="verascene in bridge.verascenes | availableVeraSceneId">
			<td>{{$index+1}}</td>
			<td>{{verascene.name}}</td>
			<td>{{verascene.id}}</td>
			<td>{{verascene.room}}</td>
			<td>{{verascene.veraname}}</td>
			<td>
				<button class="btn btn-success" type="submit"
					ng-click="buildSceneUrls(verascene)">Generate Bridge
					Device</button>
			</td>
		</tr>
	</table>
	</scrollable-table>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">
			Already Configured Vera Scenes <a ng-click="toggleButtons()"><span
				class={{imgButtonsUrl}} aria-hidden="true"></span></a>
		</h2>
	</div>
	<scrollable-table ng-if="buttonsVisible" watch="bridge.verascenes">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Row</th>
				<th sortable-header col="name">Name</th>
				<th sortable-header col="id">Id</th>
				<th sortable-header col="room">Room</th>
				<th sortable-header col="veraname">Vera</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tr
			ng-repeat="verascene in bridge.verascenes | unavailableVeraSceneId">
			<td>{{$index+1}}</td>
			<td>{{verascene.name}}</td>
			<td>{{verascene.id}}</td>
			<td>{{verascene.room}}</td>
			<td>{{verascene.veraname}}</td>
			<td>
				<button class="btn btn-danger" type="submit"
					ng-click="deleteDeviceByMapId(verascene.id, 'veraScene')">Delete</button>
			</td>
		</tr>
	</table>
	</scrollable-table>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Add a Bridge Device for a Vera scene</h2>
	</div>
	<div class="panel-body">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 control-label" for="device-name">Name
				</label>

				<div class="col-xs-8 col-sm-7">
					<input type="text" class="form-control" id="device-name"
						ng-model="device.name" placeholder="Device Name">
				</div>
				<button type="submit" class="col-xs-4 col-sm-2 btn btn-primary"
					ng-click="addDevice()">Add Bridge Device</button>
			</div>
			<div class="form-group">
				<div class="row">
					<label class="col-xs-12 col-sm-2 control-label" for="device-on-url">On
						URL </label>

					<div class="col-xs-8 col-sm-7">
						<textarea rows="3" class="form-control" id="device-on-url"
							ng-model="device.onUrl" placeholder="URL to turn device on"></textarea>
					</div>
					<button class="btn btn-danger" ng-click="clearDevice()">
						Clear Device</button>
				</div>
				<div class="form-group">
					<div class="row">
						<label class="col-xs-12 col-sm-2 control-label"
							for="device-off-url">Off URL </label>

						<div class="col-xs-8 col-sm-7">
							<textarea rows="3" class="form-control" id="device-off-url"
								ng-model="device.offUrl" placeholder="URL to turn device off"></textarea>
						</div>
					</div>
		</form>
	</div>
</div>
<script type="text/ng-template" id="deleteMapandIdDialog">
		<div class="ngdialog-message">
			<h2>Device Map and Id?</h2>
				<p>{{mapandid.mapType}} with  {{mapandid.id}}</p>
				<p>Are you Sure?</p>
		</div>
		<div class="ngdialog-buttons mt">
			<button type="button" class="ngdialog-button ngdialog-button-error" ng-click="deleteMapandId(mapandid)">Delete</button>
		</div>
	</script>